extends layout

block content
  h1= title
  - let results = [{elephant_Color:"Black",elephant_height:"10ft",elephant_Weight:"2000kg",elephant_Length:"8ft"},{elephant_Color:"white",elephant_height:"15ft",elephant_Weight:"2289kg",elephant_Length:"14ft"},{elephant_Color:"red",elephant_height:"14ft",elephant_Weight:"1000kg",elephant_Length:"9ft"},{elephant_Color:"brown",elephant_height:"16ft",elephant_Weight:"5000kg",elephant_Length:"15ft"}]
  div(class="container-fluid")
    div(class="row")
      each item,index in results
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.elephant_Color}
          p height is #{item.elephant_height}
          p Weight is #{item.elephant_Weight}
          p Length is #{item.elephant_Length}
          //- Bonus Logic
  script.
    function buy(Items) {
      Items = Items+1;
      alert(`You Purchased Item ${Items}`);
    }




    